<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AKF Pricelist</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- mobile apple -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/scourgenweb/images/AKFPricelistIcon.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/scourgenweb/images/AKFPricelistIcon.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('bundles/scourgenweb/images/AKFPricelistIcon.png') }}">
    <link rel="apple-touch-startup-image" href="{{ asset('bundles/scourgenweb/images/AKFPricelistIcon.png') }}">

    <!-- mobile android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="72x72" hhref="{{ asset('bundles/scourgenweb/images/AKFPricelistIcon.png') }}">
    <link rel="icon" sizes="114x114" href="{{ asset('bundles/scourgenweb/images/AKFPricelistIcon.png') }}">
    <link rel="icon" sizes="192x192" href="{{ asset('bundles/scourgenweb/images/AKFPricelistIcon.png') }}">
    <link rel="icon" sizes="57x57" href="{{ asset('bundles/scourgenweb/images/AKFPricelistIcon.png') }}">

    <!--IE 10 -->
    <meta name="name" content="" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="msapplication-square70x70logo" content="{{ asset('bundles/scourgenweb/images/AKFPricelistIcon.png') }}" />
    <meta name="msapplication-square150x150logo" content="{{ asset('bundles/scourgenweb/images/AKFPricelistIcon.png') }}" />
    <meta name="msapplication-wide310x150logo" content="{{ asset('bundles/scourgenweb/images/AKFPricelistIcon.png') }}" />
    <meta name="msapplication-square310x310logo" content="{{ asset('bundles/scourgenweb/images/AKFPricelistIcon.png') }}" />



    <style>
        .textnorme{
            text-align: center;
            font-size: 12pt;
            font-family: Calibri;
            color: black;
            margin-top:10px}
        .textcenter{line-height:65px;vertical-align: middle;}
    </style>

    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>Page Portail</title>
    <title></title>



</head><body style="background-color: rgb(255, 222, 0);">
<div style="text-align: center;"><img style="width: 80px; height: 80px;" src="{{ asset('bundles/scourgenweb/images/AKFPricelistIcon.png') }}" alt=""></div>

<div class="textnorme">
    Pour ajouter l&#8217;icône sur votre
    Smartphone,
    <a href="{{ path('scourgen_web_login_login')}}">cliquez ici</a> et ensuite appuyer sur
    <img style="vertical-align:middle" src="{{ asset('bundles/scourgenweb/images/IOS4.png') }}" alt=""> ou <img style="vertical-align:middle" src="{{ asset('bundles/scourgenweb/images/Android.png') }}" alt=""> et sélectionnez
    <br>
    <b>Ajouter sur l&#8217;écran d&#8217;accueil</b><br>
</div>
</body></html>