{% extends 'ScourgenWebBundle::layout.html.twig' %}

{% block content %}

    <div class="container" ng-controller="LoginController">

        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

            <div class="panel panel-default" >
                <div class="panel-heading">
                    <div class="panel-title text-center">Veuillez saisir votre identifiant</div>
                </div>

                <div class="panel-body" >

                    <form name="form" id="form" class="form-horizontal"  method="POST" action=''>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="user" type="text" ng-model="login" ng-change="validateLogin()" class="form-control" name="identifiant" value="{% if app.request.cookies.get('identifiant') != null %}{{ app.request.cookies.get('identifiant') }}{% elseif adminLogin != null %}{{ adminLogin }}{% else %}{% endif %}"
                                   placeholder="identifiant">

                        </div>
                        <span class="help-inline">{{ error }}</span>
                         {% if adminNeedPasswordAuthentification == true %}
                         <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                             <span class="help-inline">{{ password_error }}</span>
                        {% endif %}
                        <div class="input-group  libelle-mtn-le-connexion" style="">
                            <label>
                                <input type="checkbox" name="rememberme" value="remember-me" data-size="small" /> <span>Maintenir la connexion</span>
                            </label>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls" ng-init="isDisabled = false">
                                <button type="submit" href="#" class="btn btn-primary pull-right btn-color" ng-disabled="isDisabled" ><i class="glyphicon glyphicon-log-in"></i> Se connecter</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    {% block foot %}
        {{ parent() }}
    {% endblock %}
{% endblock %}