{% extends 'ScourgenWebBundle::layout.html.twig' %}
{% block content %}
    <div class="container" ng-controller="TabController">
        <div class="row">
            <div class="span12">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a ng-click="affichePage('admin')">Administration</a></li>
                    <li role="presentation"><a  ng-click="affichePage('static')">Static</a></li>
                </ul>
            </div>
        </div>
        <div class="row" ng-if="actualPage == 'admin'">
            <hr class="divider">
            <h4>Select files from your computer</h4>
            <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="file" name="articleinputfile" id="js-upload-files">
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                </div>
            </form>
            <hr class="divider">
            <div class="count">
                {{ pagination.getTotalItemCount }}
            </div>
            <table class="table table-striped">
                <tr>
                    {# sorting of properties based on query components #}
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                    <th{% if pagination.isSorted('a.reference') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Référence', 'a.reference') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Référence commerciale', ['a.ReferenceFormat', 'a.reference']) }}</th>
                    <th>{{ knp_pagination_sortable(pagination, "Libellé de l'article", ['a.id', 'a.libelle']) }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'PUHT', ['a.id', 'a.puht']) }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Libellé famille tarifaire', ['a.id', 'a.hierarchie']) }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Validité', ['a.id', 'a.validite']) }}</th>
                </tr>

                {# table body #}
                {% for article in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ article.id }}</td>
                        <td>{{ article.reference }}</td>
                        <td>{{ article.ReferenceFormat }}</td>
                        <td>{{ article.libelle }}</td>
                        <td>{{ article.puht }}</td>
                        <td>{{ article.hierarchie }}</td>
                        <td>{{ article.validite }}</td>

                    </tr>
                {% endfor %}
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="row" ng-if="actualPage == 'static'">

        </div>
    </div>
    {% block foot %}
        {{ parent() }}
    {% endblock %}
{% endblock %}